@*
    The purpose of this page is to display the movie list that is added from the AddMovie.cshtml.
*@
@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

@model IEnumerable<MovieCollection.Models.Movie>

<div class="container text-white">
    <div class="row">
        <div>
            <h2 class="text-center">The Movie List</h2>
        </div>
    </div>
    <hr />
    <table class="table text-white">
        <thead class="text-white">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Director)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Edited)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.LentTo)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @*This is a loop that runs through the titles of the movies added and if it isn't independance day than it lets it through to be displayed*@
            @foreach (var item in Model.Where(n => n.Title != "Independence Day"))
            {
<tr>
    <td scope="row">
        @Html.DisplayFor(modelItem => item.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Year)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Director)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rating)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Edited)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LentTo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Notes)
    </td>
    <td>
        @* This is the edit button on the MovieList page. Links to the edit page and lets the user make changes to the movie entry. *@
        <a asp-action="Edit" asp-route-id="@item.MovieId" class="btn btn-primary">
            <i class="fas fa-pencil-alt"></i>
        </a>
    </td>
    <td>
        @*This is the delete button on the MovieList page. Deletes a movie. *@
        <form method="post" asp-action="Delete" asp-route-id="@item.MovieId">
            <button class="fas fa-trash-alt btn btn-danger"></button>
        </form>
    </td>
</tr>            }
        </tbody>
    </table>
    <div>
        @* Button to create a new movie in the list. *@
        <a asp-action="AddMovie" class="btn btn-success float-right">Create New</a>
    </div>
</div>